*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.site-header{
    width:100%;
    height: 400%;
    background: linear-gradient(57deg,hsla(101, 79%, 54%, 0.486),#16c7a1,#0e2344bd);
    clip-path:polygon(0%,100% 0%, 100% 78%,0% 100%)
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    color:white;
    justify-content: space-between;
    padding: 20px;
    text-transform: uppercase;
}
.logo{
    width: 50%;
    height: 100px
}
.logo h1{
    line-height: 50px;
    padding-left: 40px;
}

ul{
    display: flex;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}
ul li{
    list-style: none;
}
ul li a{
    color:white;
    text-decoration: none;
    padding: 10px;
}
ul li a:hover{
    color:blue;
}
.body{
    background-image: url('../images/7.jpeg');
    background-size: cover;
    background-position: center 30%;
    height: 80vh;
    text-align: center;
    font-size:25px;
}
footer {
    background:#bdbdbd;
    padding:30px;
    text-align: center;
    color: rgb(31, 139, 172);
}
