*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.site-header{
    width:100%;
    height: 120vh;
    background: linear-gradient(57deg,hsl(171, 100%, 39%),#1e4d92);
    clip-path:polygon(0% 0%,100% 0%, 100% 78%,0% 100%);
}
.image{
    background-image: url(../images/8.jpeg);
    background-size: cover;
    background-image: no-repeat;
    height: 62vh;
    width: 30%;
    margin-left: 2%;
    border-radius: 360px;
    margin-top: 3%;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    color:white;
    justify-content: space-between;
    padding: 20px;
    text-transform: uppercase;
}
.logo{
    width: 50%;
    height: 100px
}
.logo h1{
    line-height: 100px;
    padding-left: 50px;
}

ul{
    display: flex;
    float: right;
    margin-right: 50px;
    margin-top: 40px;
}
ul li{
    list-style: none;
}
ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
ul li a:hover{
    color:blue;
}
section{
    display: flex;
}
.leftside img{
    width: 600px;
    height:500px ;
}
.rightside{
    color:white;
    text-align: center;
    margin-top:13%;
    padding: 40px;
}
.rightside h1{
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
}
.rightside p{
    font-size: 1.1rem;
    padding:30px 0;
}
.rightside button{
    font-size: 17px;
    font-weight: bold;
    color:white;
    text-transform: uppercase;
    background: linear-gradient(57deg,#00c6a7,#1e4d92);
    border-radius: 4px;
    padding:20px 35px;
}
.rightside button:hover{
    background: linear-gradient(57deg,#1e4d92,#00c6a7);
}
.leftside{
    display: flex;
    margin-top: 0;
}
@media (max-width:600px){
    nav{
        width: 10%;
    }
    ul li a{
        font-size: 5xp;
    }
}
